<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Story Stalker Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Library</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <div class="items">
      <div class="items-head">
        <p>Books</p>
        <hr>
      </div>
        <h3>Book List</h3>
  <div id="list4">
    <ul>
      <li><a href="http://en.wikipedia.org/wiki/2004_Summer_Olympics"><strong>Toronto</strong>2004</a></li>
      <li><a href="http://en.wikipedia.org/wiki/2008_Summer_Olympics"><strong>Beijing</strong>2008</a></li>
      <li><a href="http://en.wikipedia.org/wiki/2012_Summer_Olympics"><strong>London</strong>2012</a></li>
      <li><a href="http://en.wikipedia.org/wiki/2016_Summer_Olympics"><strong>Rio de Janeiro</strong>2016</a></li>
    </ul>
  </div>
    </div>
  </div>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
